<header class="container d-flex justify-content-between  align-items-center my-3">
    <div>
      <h5 class="text-brand-secondary">CATEGORIES</h5>
    </div>
    <div>
      <%= button_to "Sign out", destroy_user_session_path,:method => :delete, class: "p-2 m-1 text-dark" %>  </div>
    </div>
</header>

<div class="container">
<%= render 'categories' %>
<div>

<footer class="footer">
  <div class="footer-btn w-100 text-center">
    <%= link_to "Add a new category", new_catagory_path%>
  </div>
</footer>